body {

    background-image: url("../imagens/Main_Fundo.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.9;
    margin: 1%;

}

.logo {

    margin-left: 1px;

}

.head {

    background: rgb(242, 193, 94);
    background-image: url(imagens/logo.png);
    display: inline-block;
    border-style: solid;
    border-radius: 8px;
    border-color: orange;
    border-width: 10px;
    width: 97%;
    height: 100px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 10px;


}

p {
    padding-left: 15px;
    margin: 0px;
    text-align: left;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: 50;
}

.titulo_fotos {

    margin-top: 2px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    border: 2px;
    border-style: solid;
    text-align: center;
    padding: 1px;
}

#fotos {

    border-style: solid;

    border-width: 10px;
    color: orange;
    width: 97%;

    margin-top: 10px;
    margin-left: 5px;
    border-radius: 20px;

}

.caixa_fotos {

    border-radius: 5px;
    margin: 20px 5px 5px 25px;
    background: none;
    display: inline-block;
    border-style: solid;
    border-color: orange;
    width: 450px;
    height: 250px;

}

.Division {
    margin: 15px;

}